<div id="inner-viewport" style="width: 500px; height:450px; padding: 10px;">
	<div style="width: 500px; height: 235px;">
		<div style='width: 500px; height:200px; background-color: #009DDE;'>
			<div style="width: 305px; margin-left: 105px;" class="clearfix">
				<div style='width: 180px; height: 200px; float:left; margin-top:35px;'>
					<div style='width: 180px; height: 40px; text-align: center; font-size: 18px; font-weight: 600; color: #fff;'>
						{0}
					</div>
					<div style='width: 180px; height: 160px; background-color: #fff;' class="circle">
						<!--<img src="http://10.0.0.159:8888/img/jelgh.jpeg" style='width: 150px; height: 150px; background-color: #eee; margin:5px; 0 0 5px' class="circle"></img>-->
					</div>
				</div>
				<div style='width: 130px; height: 145px; float:left; margin-top:85px; margin-left:25px;'>
					<div style='width: 130px; height: 40px; text-align: center; font-size: 18px; font-weight: 600; color: #fff;'>
						{1}
					</div>
					<div style='width: 130px; height: 110px; background-color: #fff;' class="circle">
						<!--<img src="http://10.0.0.159:8888/img/jelghx.jpeg" style='width: 100px; height: 100px; background-color: #eee; margin:5px; 0 0 5px' class="circle"></img>-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="width: 400px; margin: 50px 0 0 50px;">
		<div style='width: 400px; text-align: center; margin-bottom:20px; font-weight: 600; font-size: 40px;'>{2}</div>
		<div style='width: 400px; background: #eee; height: 1px;' class="skip-height"></div>
		<div class="scale-font" style='width: 400px; text-align: center; margin-top:15px; font-size: 24px;'>{3}</div>
	</div>
</div>