.shareable-frame
{
	.badge-activity
	{
		margin: 0;
		.image
		{
			padding-bottom: 57%;
			border-radius: 0;
			height: 0;
		}

		.badge
		{
			margin-top: 78%;
		}

		.title
		{
			font-size: 23px;
		}

		.description
		{
			font-size: 19px;
		}

		.text-container
		{
			margin: 10% 0 0;
			text-align: center;
			padding-bottom: 33%;
			height: 0;
		}
	}
}

.badge-activity
{
	margin: -$vertical-activity-padding -8px;

	.wrapper
	{
		margin:0;
	}

	.image
	{
		-webkit-background-size: cover;
		border-radius: 3px 3px 0 0;
		height: 116px;
		width: 100%;
	}

	.badge-wrapper
	{
		margin-left: 50%;
	}

	.badge 
	{
		float:left;
		background-repeat: no-repeat;

		margin: 40px 0 0 -50px;
		width: 99px;
		height: 99px;

		.category-icon
		{
			float: left;
			height: 0px;
			width: 99px;
			font-size: 15px;
			text-align: center; 
			font-family: tink-symbols, 'Tink Symbols';
			color: $badge-category-icon-symbol-color;

			&.top
			{
				line-height: 40px;
			}

			&.bottom
			{

				line-height: 198 - 40px;
			}
		}

		.badge-number
		{
			height: 0px;
			width: 99px;
			line-height: 99px;
			text-align: center;
			font-family: $font-regular, proxima, ProximaNovaA-Regular, sans-serif;
			font-weight: $weight-regular;
			font-size: 30px;
			color: white;
		}

		 // position: absolute; width: 200px; height: 200px; margin-top: 20px; margin-left: 150px;
	}



	.text-container
	{
		margin: 24px 16px;
	}

	.title
	{
		text-align: center;
		font-family: $font-regular, proxima, ProximaNovaA-Regular, sans-serif;
		font-weight: $weight-regular;
		font-size: 18px;
	}

	.divider
	{
		width: 40%; 
		background: $activity-divider-light-color;
		margin: 16px auto;
	}
}
