.shareable-frame {

  padding: 0;
  margin: 0;
  background-color: black;

  .background-color-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
  }

  .bank-fee-selfie-frame {

    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    top: 0;

    .bank-fee-selfie-activity {

      .circle {
        position: absolute;
        float: center;
        text-align: center;
        background-color: transparent;
        border-radius: 100%;
        width: 66px;
        height: 66px;
        padding: 0;
        top: -24px;
        left: -33px;
        margin: 0 auto 0;
        z-index: 1000000;
      }

      .logo {
        margin: -33px 0 0 2px;
        position: absolute;
        font-size: 55px;
        color: white;
        font-family: tink-symbols, 'Tink Symbols';
      }

      .icon-circle {
        background-color: white;
        margin: 4px 0 0 4px;
        height: 40px;
        width: 40px;
        line-height: 42px;
        font-size: 24px;
        border: 2px solid white;
        color: $bank-fee-selfie-icon-background-color;
        padding-left: 1px;
      }

      .circle-wrapper {
        position: absolute;
        margin-left: 50%;
        height: 100%;
      }

      .text-container {
        margin: 20px 0;
        padding: 35px 4 * $padding 0;
      }

      .divider {
        width: 75%;
        background: $activity-divider-light-color;
        margin: 16px auto;
      }

    }
  }
}

.bank-fee-selfie-frame {

  background: url("https://s3-eu-west-1.amazonaws.com/tink-web/activities/assets/bank-fee-selfie-background.png");
  background-size: cover;
  padding: 0;
  margin: 0 $padding + 1;

  .background-color-wrapper {
    margin: -1px;
    padding: $padding;
    background: $bank-fee-selfie-background-color;
    border-style: solid;
    border-color: $bank-fee-selfie-border-color;
    border-width: $divider-thickness;
    border-radius: $border-radius;
  }

  .bank-fee-selfie-activity {

    .activity-description-text {
      color: white;
    }

    .text-container {
      margin: 10px 2 * $padding 20px 2 * $padding;
    }

    .chart-frame {
      margin-bottom: -20px;
      padding-bottom: 10px;
      text-align: center;
    }
  }
}