* {
    margin: 0;
    padding: 0;
    font-family: $font-regular, 'ProximaNovaA-Regular', sans-serif;
    font-weight: $weight-regular;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body
{
  background-color: $feed-background-color;
  &.ios
  {
    .activity-frame
    {
      box-shadow: $ios-activity-shadow;
      border-radius: $ios-activity-border-radius;
      -webkit-border-radius: $ios-activity-border-radius;
    }
    background-color: transparent;
  }

  &.android
  {
    .activity-frame
    {
      box-shadow: $android-activity-shadow;
      border-radius: $android-activity-border-radius;
      -webkit-border-radius: $android-activity-border-radius;
    }
  }
    
  &.share-body
  {
    background-color: white;

    .timeline
    {
      display: none;
    }
  }
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.4s;
  animation-duration:0.4s;
}

.feed 
{
  background-color: $feed-background-color;
  max-width: 100%;
}

.page
{
  background-color: $feed-background-color;
}

.ios
{
  :not(.scrolling)
  {
    &.page.allowPress
    {
      :active, :focus
      {
        
        &.activity-frame, &.transaction-plural-header-only, &.expanded-transaction, &.period-summary-part, &.transfer-plural-header-only, &.expanded-transfer, &.action-left-button, &.action-right-button, &.loan-event-plural-header-only, &.expanded-loan-event,
        {
          background: $activity-touch-state-background-color;
        }

        &.transaction-plural, &.transfer-plural, &.period-summary, &.rate-this-app, &.loan-event-plural
        {
          background: white;
        }
      }
    }
  }
}

.android
{
  :not(.scrolling)
  {
    &.page
    {
      :active, :focus
      {
        &.activity-frame, &.transaction-plural-header-only, &.expanded-transaction, &.period-summary-part, &.transfer-plural-header-only, &.expanded-transfer, &.action-left-button, &.action-right-button, &.loan-event-plural-header-only, &.expanded-loan-event
        {
          background: $activity-touch-state-background-color;
        }

        &.transaction-plural, &.transfer-plural, &.period-summary, &.loan-event-plural
        {
          background: white;
        }
      }
    }
  }
}

.timeline
{
  width: 5px;
  height: 20px;
  margin: 0 auto;
  background-color: $timeline-color;
}

.time-badge-wrapper
{
  text-align: center;
}

.time-badge
{
  font-family: $font-bold, 'ProximaNovaA-Semibold', sans-serif;
  font-weight: $weight-bold;
  padding: 9px 12px 7px;
  font-size: 10px;
  background-color: $timeline-color;
  color: $timestamp-text-color;
  text-align: center;
  border-radius: 14px;
}

.absolute
{
  position: absolute;
}

.activity-frame.left-only .left-header-group
{
  width: 80%;

  .subtext
  {
    overflow: none;
    text-overflow: clip;
    white-space: initial;
  } 
}


.no-sub-pixel-device
{
  .activity-frame  
  {
    border-width: 1px;
  }
}

.shareable-frame
{
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;

  .activity-frame 
  {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
  } 
}

.activity-frame, .transaction-plural-header-only, .transfer-plural-header-only, .loan-event-plural-header-only
{
  border-style: $activity-border-style;
  border-width: $activity-outline-thickness;
  padding: $vertical-activity-padding $padding;
}

.transfer-plural-header-only, .transaction-plural-header-only, .loan-event-plural-header-only
{
  border-color: transparent;
}

.expanded
{
  .transfer-plural-header-only,
  .transaction-plural-header-only,
    .loan-event-plural-header-only
  {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
  }
}

.activity-frame
{
  background-color: white;
  border-color: $activity-border-color;
  left:0px;
  right:0px;
  margin: 0 $padding;
  border-style: $activity-border-style;
  border-color: $activity-border-color;
  border-width: $activity-outline-thickness;

  .header
  {
    font-family: $font-regular, 'ProximaNovaA-Regular', sans-serif;
    font-weight: $weight-regular;
    font-size: 18px;
    color: $header-color;
  }

  .left-header-group
  {
    float: left;
    margin: 0px 0 0 -30px;
    width: 70%;

    .left-header-margin
    { 
      padding-right: 38px;
      padding-bottom: 30px;
      float: left;
    }

    .header
    {
      
      line-height: 22px;
      height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 18px;
    }

    .subtext
    {
      line-height: 16px;
      margin-top: $left-subtext-top-margin;
      margin-bottom: -2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } 
  }

  .right-header-group
  {
    width: 30%;
    float: right;
    margin: 0px 0 0 0;

    .header
    {
      font-family: $font-light, 'ProximaNovaA-Light', sans-serif;
      font-weight: $weight-light;
      font-size: 20px;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .subtext
    {
      margin-top: $right-subtext-top-margin;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } 
  }

  .subtext
  {
    font-family: $font-light, 'ProximaNovaA-Light', sans-serif;
    font-weight: $weight-light;
    font-size: 12px;
    color: $text-color;
  }

  .centered-activity-title
  {
    margin: 2px 0 12px;
    text-align: center;
    font-size: 18px;
    line-height: $centered-activity-title-line-height;
    &.small
    {
      margin: -8px 0 12px;
      font-size: 12px;
      color: $text-color;
      font-family: $font-light, 'ProximaNovaA-Light', sans-serif;
      font-weight: $weight-light;
    }
  }   
}

.clear:after {
  clear: both;
  display: table;
  content: "";
}


.suggest-category, .suggest-merchant
{
  .activity-frame
  {
    .left-header-group
    {
      .subtext
      {
        margin-top: 3px;
        line-height: 12px;
      }
    }
  }
}

.loading-area
{
  height: 50px;
}

.icon-circle {
  margin: 2px 0 0 0;
  height:30px;
  width:30px;
  line-height: 30px;
  font-size: $activity-icon-size;
  float: left;  
  color: white;
  border-radius: 100%;
  text-align: center;
  font-family: tink-symbols, 'Tink Symbols';
  &.income
  {
    background-color: $income-color;
  }
  &.expense
  {
    background-color: $expense-color;
  }
  &.critical
  {
    background-color: $critical-color;
  }
  &.transfer
  {
    background-color: $transfers-color;
  }
  &.uncategorized
  {
    background-color: $uncategorized-color;
  }
  &.info
  {
    background-color: $info-color;
  }
  &.warning 
  {
    background-color: $warning-color;
  }
  &.positive
  {
    background-color: $positive-color;
  }
  &.left-to-spend
  {
    background-color: $left-to-spend-color;
  }
  &.grey
  {
    background-color: #f2f2f2;
  }
  &.tink-orange
  {
    background-color: #F89572;
  }
}


.divider
{
  height: $divider-thickness;
}

.horizontal-divider
{
  width: $divider-thickness;
}

.small-divider
{
  height: $divider-thickness;
}

.no-sub-pixel-device
{
  .divider
  {
    height: 1px;
  }

  .horizontal-divider
  {
    width: 1px;
  }

  .small-divider
  {
    height: 1px; 
  }
}
  
.divider-wrapper
{
  margin-top: $padding;
  margin-bottom: $padding;
  margin-left: -$padding;
  margin-right: -$padding;
  .divider
  {
    width: 100%;
    padding: 0 0;
    margin: $padding 0;
    background-color: $activity-divider-color;
    
  }
}

.line-chart
{
  margin: 0 -$padding -$padding -$padding;
  
  .divider
  {
    width: 100%;
    margin: $padding 0;
    background-color: $activity-divider-lightest-color;
  }
}

.inner-line-chart
{
  margin: -4px -8px;

  .divider-wrapper
  { 
    margin-left: 0;
    margin-right: 0;
  }

  .divider
  {
    margin: $padding*2 0 $padding;
  }
}

.inner-bar-chart
{
  margin: -4px -8px -24px -8px;

  .divider-wrapper
  { 
    margin-left: 0;
    margin-right: 0;
  }

  .divider
  {
    margin: $padding*2 0 $padding;
  }
}

.activity-description-text
{
  text-align: center;
  font-family: $font-light, 'ProximaNovaA-Light', sans-serif;
  font-weight: $weight-light;
  font-size: 15px;
  line-height: 18px;
}

.bottom-button
{
  font-size: 15px;
  margin: 14px 0 2px 0;
  width: 100%;
  text-align: center;
  font-family: $font-bold, 'ProximaNovaA-Semibold', sans-serif;
  font-weight: $weight-bold;
  color: $button-text-color;
  background-color: $button-background-color; 
}

.center-within,
.center-svg
{
  text-align: center;
}

.display-none
{
  display: none;
}
