.budget
{
  overflow: hidden;
  padding-bottom: 0px;

  .left-header-group
  {
      margin-left: 0;
      width: 60%;
  }

  .right-header-group
  {
    width: 40%;
  }

  .budget-graphics
  {
    margin-bottom: -4px;
  }

  .budget-pie
  {
  	margin-top: -136px;
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
  }

  .activity-description-text
  {
    margin: -50px 2 * $padding 0px;
    float: left;
    position: relative;
  }

}