.discover
{
  .center-svg
  {
    margin: 24px auto 12px;
  }

  .description
  {
    margin: 0 12px 12px;
    text-align: center;
    font-family: $font-light, proxima-light, ProximaNovaA-Light, sans-serif;
    font-weight: $weight-light;
  }

  .bottom-button
  {
    margin-left: -$padding;
    margin-right: -$padding;
    margin-bottom: -$vertical-activity-padding;
    padding: $vertical-activity-padding $padding;
    -webkit-border-bottom-left-radius: $border-radius;
    -webkit-border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
