@font-face { font-family: 'ProximaNovaA-Regular'; src: url('fonts/ProximaNovaA-Regular.ttf') format('truetype'); }
@font-face { font-family: 'ProximaNovaA-Light'; src: url('fonts/ProximaNovaA-Light.ttf') format('truetype'); }
@font-face { font-family: 'ProximaNovaA-Semibold'; src: url('fonts/ProximaNovaA-Semibold.ttf') format('truetype'); }
@font-face { font-family: 'akzidenzgrotesk-lightcond'; src: url('fonts/AkzidenzGrotesk-LightCond.ttf') format('truetype'); }

@font-face { font-family: 'Tink Symbols'; src: url('fonts/TinkSymbols-Regular.ttf') format('truetype'); }
@font-face { font-family: 'tink-symbols'; src: url('fonts/tinksymbols-regular-webfont.ttf') format('truetype'); }

@font-face { font-family: 'Brown Regular'; src: url('fonts/lineto-brown-pro-regular.ttf') format('truetype'); }
@font-face { font-family: 'Brown Bold'; src: url('fonts/lineto-brown-pro-bold.ttf') format('truetype'); }
@font-face { font-family: 'Brown Light'; src: url('fonts/lineto-brown-pro-light.ttf') format('truetype'); }

@font-face { font-family: 'Lota Regular'; src: url('fonts/lota-regular.ttf') format('truetype'); }
@font-face { font-family: 'Lota Bold'; src: url('fonts/lota-bold.ttf') format('truetype'); }
@font-face { font-family: 'Lota Semibold'; src: url('fonts/lota-semibold.ttf') format('truetype'); }
