.fraud-activity
{
	.description
	{
		margin: 0 12px 12px;
		text-align: center;
	}

	.svg-wrapper
	{
		margin: 24px auto 0; 
		text-align: center;
	}
	
	.activity-description-text
	{
		margin: 12px $padding 24px;
	}
}