.maintenance
{

  .description
  {
    margin: 0 12px 12px;
    text-align: center;
    font-family: $font-light, proxima-light, ProximaNovaA-Light, sans-serif;
    font-weight: $weight-light;
  }

}
