.product-suggestion
{
  position: relative;

  .header
  {
    text-align: center;
    padding: 20px 30px 5px;
  }

  .text-container
  {
    .subtext
    {
      text-align: center;
      padding: 10px 25px 15px;
      font-size: 15px;
      line-height: 20px;
    }
  }

  .list-container
  {
    padding: 25px 15px;

    .list-item {
      position: relative;
      display: flex;
      padding: 0 0 25px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    .list-line {
      position: absolute;
      left: 10px;
      top: 22px;
      bottom: 0px;
      width: 2px;
      background-image: linear-gradient($teal 40%, rgba(255,255,255,0) 0%);
      background-position: right;
      background-size: 2px 5px;
      background-repeat: repeat-y;
    }

    .list-number {
      flex: 0 0 22px;
      text-align: center;
      line-height: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $switch-mortgage-number-background-color;
      color: #FFFFFF;
      font-size: $switch-mortgage-number-size;
      font-family: $font-regular, proxima-semibold,  ProximaNovaA-Semibold;
    }

    .list-text {
      font-size: 15px;
      padding: 0 0 0 10px;
      line-height: 22px;
    }
  }

  .bottom-button
  {
    background-color: $switch-mortgage-button-background-color;
    color: #FFFFFF;
    padding: $vertical-activity-padding $padding;

    margin-left: -$padding !important;
    margin-bottom: -$vertical-activity-padding !important;

    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    -webkit-border-bottom-left-radius: $border-radius;
    -webkit-border-bottom-right-radius: $border-radius;
  }
}

.ios
{
  :not(.scrolling)
  {
    &.page.allowPress
    {
      :active, :focus
      {
        &.activity-frame
        {
          .product-suggestion
          {
            .bottom-button
            {
              background: $teal-dark;
            }
          }
        }
      }
    }
  }
}
