//.suggest-provider class hard coded in iOS and Android clients. Do not change!
.suggest-provider
{
  .svg-wrapper
  {
    margin: 16px auto 0; 
    text-align: center;
  }
  
  .activity-description-text
  {
    margin: 12px $padding 16px;
  }
}