/*
 * Base colors (only used within the scope of this file)
 */

$blue: #009DDE;
$green: #61BC45;
$grey: #808080;
$grey-light: #CCCCCC;
$grey-lightest: #E5E5E5;
$orange: #FCB827;
$pink: #C763BF;
$red: #E2373F;
$red-dark: #E63F48;
$red-light: #D6484F;
$teal: #00BDBD;
$teal-dark: #008C8C;


/*
 * Color mapping
 */

// General: Text
$header-color: black;
$text-color: $grey;
$timestamp-text-color: $grey;
$font-regular: 'ProximaNovaA-Regular';
$weight-regular: normal;
$font-bold: 'ProximaNovaA-Semibold';
$weight-bold: normal;
$font-light: 'ProximaNovaA-Light';
$weight-light: normal;

// General: Types
$income-color: $green;
$expense-color: $blue;
$expense-comparison-color: rgba($expense-color, 0.2);
$left-to-spend-color: $teal;
$transfers-color: $grey;
$uncategorized-color: $orange;
$critical-color: $red;
$info-color: $pink;
$warning-color: $orange;
$positive-color: $teal;

// General: Feed
$feed-background-color: #FBFAF8;
$timeline-color: $grey-lightest;

$switch-mortgage-number-background-color: $teal;
$switch-mortgage-button-background-color: $teal;
$switch-mortgage-number-size: 15px;

// General: Activities
$activity-border-color: #e6e6e6;
$activity-divider-color: #e6e6e6;
$activity-divider-light-color: $grey-light; // Should be defined in terms of hierarchy instead of "light"
$activity-divider-lightest-color: $grey-lightest; // Should be defined in terms of hierarchy instead of "lightest"
$activity-touch-state-background-color: $grey-lightest;
$activity-border-style: solid;

$centered-activity-title-line-height: unset;

$activity-icon-size: 18px;

// General: Buttons
$button-text-color: $teal;
$approve-e-invoice-color: $teal;
$button-background-color: none;

// Lookback
$lookback-header-background-color: $pink;

// Merchant
$merchant-map-icon-background-color: $blue;

// Badge
$badge-category-icon-symbol-color: rgba(black, 0.2);

// Bank fee selfie
$bank-fee-selfie-background-color: rgba($red-light, 0.90);
$bank-fee-selfie-icon-background-color: $red-dark;
$bank-fee-selfie-border-color: #e6e6e6;

// Year in numbers
$year-in-numbers-background-color: $teal;

// Summer in numbers
$summer-in-numbers-background-color: $teal;

// Rate this app
$rate-this-app-button-color: $teal;
$rate-this-app-button-text-color: white;

/*
 * Dimensions
 */

$padding: 8px;
$vertical-activity-padding: 12px;
$divider-thickness: .5px;
$activity-outline-thickness: .5px;
$border-radius : 4px;
$ios-activity-border-radius: 4px;
$ios-activity-shadow: unset;

$right-subtext-top-margin: 1px;
$left-subtext-top-margin: 0px;

$top-summaries-amount-bottom-padding: unset;

$android-activity-shadow: 0 1.5px 1px -2px rgba(#000000, .34);
$android-activity-border-radius: 4px;






.page.insights {
  background-color: #FBFAF8;
  font-family: HelveticaNeue, sans-serif;
}

.insight {
  background-color: #fff;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .08);
}

.insight .content {
  padding: 24px;
}

.insight .content .title {
  color: #808080;
  font-size: 16px;
  font-weight: bold;
}

.insight .content .body {
  color: #808080;
  font-size: 14px;
}

.insight .image {
  display: none;
  border-radius: 15px 15px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.insight .icon {
  display: none;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 24px 16px;
}

.insight.info .icon {
  background-color: #FEF3DE;
}

.insight.warning .icon {
  background-color: #FCEDEC;
}


.insight .buttons {
  display: table;
  margin-left: auto;
  padding-right: 14px;
  padding-bottom: 14px;
  border-collapse: separate;
  border-spacing: 10px;
}

.insight .buttons .button {
  display: table-cell;
  padding: 10px;
  color: #008C8C;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  margin-left: 20px;
  padding: 0px 15px;
  height: 40px;
  vertical-align: middle;
}

.insight .buttons .button.primary,
.insight .buttons .button.primary.suggested {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .08);
}

.insight .buttons .button.primary.suggested {
  background-color: #008C8C;
  color: #fff;
}

/* Small mode */

.insight.small .icon {
  display: block;
}

.insight.small .content {
  display: block;
  padding-left: 0px;
}

/* Medium mode */

.insight.medium .image {
  display: block;
  height: 140px;
}

/* Large mode */

.insight.large .image {
  display: block;
  height: 200px;
}
