/*
 * Base colors (only used within the scope of this file)
 */

$blue: #0E9EC2;
$green: #36B472;
$grey: #808080;
$grey-light: #CCCCCC;
$grey-lightest: #E5E5E5;
$orange: #F89572;
$pink: #C763BF;
$red: #E63F48;
$red-dark: #E63F48;
$red-light: #D6484F;
$teal: #00BDBD;
$teal-dark: #008C8C;


/*
 * Color mapping
 */

// General: Text
$header-color: black;
$text-color: $grey;
$timestamp-text-color: $grey;
$font-regular: 'Lota Regular';
$weight-regular: normal;
$font-bold: 'Lota Bold';
$weight-bold: normal;
$font-light: 'Lota Regular';
$weight-light: normal;

// General: Types
$income-color: $green;
$expense-color: $blue;
$expense-comparison-color: rgba($expense-color, 0.2);
$left-to-spend-color: $teal;
$transfers-color: $grey;
$uncategorized-color: $orange;
$critical-color: $red;
$info-color: $pink;
$warning-color: $orange;
$positive-color: $teal;

// General: Feed
$feed-background-color: rgba(255, 255, 255, 0);
$timeline-color: inherit;

$switch-mortgage-number-background-color: $orange;
$switch-mortgage-button-background-color: #427783;
$switch-mortgage-number-size: 10px;

// General: Activities
$activity-border-color: #e6e6e6;
$activity-divider-color: #e6e6e6;
$activity-divider-light-color: $grey-light; // Should be defined in terms of hierarchy instead of "light"
$activity-divider-lightest-color: $grey-lightest; // Should be defined in terms of hierarchy instead of "lightest"
$activity-touch-state-background-color: $grey-lightest;
$activity-border-style: none;

$centered-activity-title-line-height: 22px;

$activity-icon-size: 15px;

// General: Buttons
$button-text-color: #427783;
$approve-e-invoice-color: #427783;
$button-background-color: none;

// Lookback
$lookback-header-background-color: $pink;

// Merchant
$merchant-map-icon-background-color: $blue;

// Badge
$badge-category-icon-symbol-color: rgba(black, 0.2);

// Bank fee selfie
$bank-fee-selfie-background-color: rgba($red-light, 0.90);
$bank-fee-selfie-icon-background-color: $red-dark;
$bank-fee-selfie-border-color: #e6e6e6;

// Year in numbers
$year-in-numbers-background-color: $teal;

// Summer in numbers
$summer-in-numbers-background-color: $teal;

// Rate this app
$rate-this-app-button-color: #427783;
$rate-this-app-button-text-color: white;

/*
 * Dimensions
 */

$padding: 8px;
$vertical-activity-padding: 12px;
$divider-thickness: .5px;
$activity-outline-thickness: 0px;
$border-radius : 12px;
$ios-activity-border-radius: 12px;
$ios-activity-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .08);

$right-subtext-top-margin: -2px;
$left-subtext-top-margin: 5px;

$top-summaries-amount-bottom-padding: -2px;

$android-activity-shadow: 0 1px 2px 0 rgba(#000000, 0.3);
$android-activity-border-radius: 2px;






.icon {
  margin: 2px 0 0 0;
  height:30px;
  width:30px;
  line-height: 30px;
  font-size: $activity-icon-size;
  float: left;
  color: white;
  border-radius: 100%;
  text-align: center;
  font-family: tink-symbols, 'Tink Symbols';
  &.income
  {
    background-color: $income-color;
  }
  &.expense
  {
    background-color: $expense-color;
  }
  &.critical
  {
    background-color: $critical-color;
  }
  &.transfer
  {
    background-color: $transfers-color;
  }
  &.uncategorized
  {
    background-color: $uncategorized-color;
  }
  &.info
  {
    background-color: $info-color;
  }
  &.warning
  {
    background-color: $warning-color;
  }
  &.positive
  {
    background-color: $positive-color;
  }
  &.left-to-spend
  {
    background-color: $left-to-spend-color;
  }
  &.grey
  {
    background-color: #f2f2f2;
  }
  &.tink-orange
  {
    background-color: #F89572;
  }
}

.page.insights {
  background-color: #FBFAF8;
  font-family: HelveticaNeue, sans-serif;
}

.insight {
  background-color: #fff;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .08);
}

.insight .content {
  padding: 24px;
}

.insight .content .title {
  color: #808080;
  font-size: 16px;
  font-weight: bold;
}

.insight .content .body {
  color: #808080;
  font-size: 14px;
}

.insight .image {
  display: none;
  border-radius: 15px 15px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.insight .icon {
  display: none;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 24px 16px;
}

.insight .buttons {
  display: table;
  margin-left: auto;
  padding-right: 14px;
  padding-bottom: 14px;
  border-collapse: separate;
  border-spacing: 10px;
}

.insight .buttons .button {
  display: table-cell;
  padding: 10px;
  color: #008C8C;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  margin-left: 20px;
  padding: 0px 15px;
  height: 40px;
  vertical-align: middle;
}

.insight .buttons .button.primary,
.insight .buttons .button.primary.suggested {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .08);
}

.insight .buttons .button.primary.suggested {
  background-color: #008C8C;
  color: #fff;
}

/* Small mode */

.insight.small .icon {
  display: block;
}

.insight.small .content {
  display: block;
  padding-left: 72px;
}

/* Medium mode */

.insight.medium .image {
  display: block;
  height: 140px;
}

/* Large mode */

.insight.large .image {
  display: block;
  height: 200px;
}
