beautifulsoup4==4.8.0
boto3==1.9.236
botocore==1.12.236
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
docutils==0.15.2
entrypoints==0.3
filelock==3.0.12
hidapi==0.7.99.post21
idna==2.8
jmespath==0.9.4
keyring==19.2.0
lxml==4.6.3
Pillow==7.2.0
python-dateutil==2.8.0
python-u2flib-host==3.0.3
pytz==2019.2
requests==2.22.0
s3transfer==0.2.1
six==1.12.0
soupsieve==1.9.3
tabulate==0.8.5
tzlocal==2.0.0
urllib3==1.25.6
websockets==8.0.2
