@import se.tink.backend.common.workers.activity.renderers.models.*
@args(){
se.tink.backend.core.Activity activity,
ActivityHeader headerData,
BankFeeSelfieData selfieData,
String innerTemplate,
String svgIcon,
String svg,
String message,
String deeplink,
Boolean isSharableMode
}

<div class="timeline"></div>
<div class="activity-frame clear bank-fee-selfie-frame @activity.getFeedActivityIdentifier()" id="@activity.getId()"
     onclick="onclick@activity.getId() ()">

    <div class="background-color-wrapper">

        <div class="bank-fee-selfie-activity">

            @if(isSharableMode)
            {
            <div class="logo">@se.tink.backend.common.utils.TinkIconUtils.Icons.LOGOTYPE</div>

            <div class="circle-wrapper">
                <div class="circle">
                    <div class="icon-circle">&#@headerData.getIcon().getHtmlChar()</div>
                </div>
            </div>
            }

            <div class="text-container">

                @if(isSharableMode)
                {
                <div class="divider"></div>
                }

                <div class="activity-description-text">
                    @raw() {@message}
                </div>
            </div>
            <div class="inner-line-chart chart-frame">
                <div>@raw() {@svg}</div>
            </div>
        </div>
    </div>
</div>


<script>
    function onclick@activity.getId() () {
    @if (deeplink) {
        if (!isSharableMode) {
            window.location.href = "@deeplink";
        }
    }
    }
</script>