@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, se.tink.backend.common.workers.activity.renderers.models.ActivityHeader headerData, String innerTemplate, String svgIcon

<div class="timeline"></div>
<div class="activity-frame clear @activity.getFeedActivityIdentifier()" id="@activity.getId()" onclick="onclick@activity.getId() ()">
 	<div class="icon-circle-wrapper">
		<div class="icon-circle @headerData.getIcon().getColorType()">
        &#@headerData.getIcon().getHtmlChar()</div>
	</div> 

	<div class="left-header-group">
		<div class="left-header-margin"></div>
		<div class="header">@headerData.getLeftHeader()</div>
		<div class="subtext">@headerData.getLeftSubtext()</div>
	</div>
	<div class="right-header-group">
		<div class="header">@headerData.getRightHeader()</div>
		<div class="subtext">@headerData.getRightSubtext()</div>
	</div>
	<div style="clear: both;"></div>
  @if(innerTemplate != null && !innerTemplate.isEmpty())
  {
    @invoke(innerTemplate)
  }
</div>

<script>
function onclick@activity.getId() () {
  @if(headerData.getDeepLink() != null)
  {
    	window.location.href = "@headerData.getDeepLink()" ;
	}
}
</script>