@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, se.tink.backend.common.workers.activity.renderers.models.ClaimOfferActivityData content, String deeplink

<div class="timeline"></div>
<div class="activity-frame clear @activity.getFeedActivityIdentifier()" id="@activity.getId()" onclick="onclick@activity.getId() ()">
	<div class="claim-activity" >
		<div class="wrapper">
			<div style="background: url(@content.getBackgroundImage());" 
			class="image">
				<div class="image-color" style="background-color: @content.getBackgroundColor();">
					<div class="logo" style="background: url(@content.getLogoImage());"></div>
				</div>
			</div>
		</div>

		<div class="text-container">
			<div class="title">@content.getTitle()</div>
	    	<div class="small-divider skip-height skip-margin"></div>
			<div class="activity-description-text">@content.getDescription()</div>
		</div>

		<div class="divider"></div>
		<div class="bottom-button">@content.getButtonText()</div>
	</div>
</div>

<script>
function onclick@activity.getId() () {
    @if(deeplink)
    {
    	window.location.href = "@deeplink" ;
	}
}
</script>

@//	<div>@escape("RAW") {@svg}</div>