@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, se.tink.backend.common.workers.activity.renderers.models.ActivityHeader headerData, List<se.tink.backend.common.workers.activity.renderers.models.ActivityHeader> transfers, se.tink.backend.common.workers.activity.renderers.utils.UUIDConverter uuidConverter

<div class="expanded-group transfers">


	<div class="transfers-container">
	@for (se.tink.backend.common.workers.activity.renderers.models.FeedTransferData transfer : transfers) {
		<div style="position: relative;" class="expanded-transfer @uuidConverter.convert(transfer.getTransfer().getId())" onclick="onclick@uuidConverter.convert(transfer.getTransfer().getId()) ()"> 
			<div class="icon-circle-wrapper" style="position: absolute;">
				<div class="icon-circle @transfer.getIcon().getColorType()">
		        	&#@transfer.getIcon().getHtmlChar()
		        </div>
			</div> 
			<div>
				<div class="left-header-group">
					<div class="header">@transfer.getLeftHeader()</div>
					<div class="subtext category">@transfer.getLeftSubtext()</div>
				</div>
				<div class="right-header-group" style="margin-top: 7px;">
					<div class="approve-link">@transfer.getRightHeader()</div>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>

		<script>

		function onclick@uuidConverter.convert(transfer.getTransfer().getId()) () {
		    @if(transfer.getDeepLink() != null) {
		    	window.location.href = "@transfer.getDeepLink()" ;
			}
		}
		</script>
	}
	</div>
</div>