@// declare the arguments used in this template@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, se.tink.backend.common.workers.activity.renderers.models.ActivityHeader headerData, List<se.tink.backend.common.workers.activity.renderers.models.ActivityHeader> loanEvents, String svgIcon, String deeplink, boolean showSwitchMortgageButton, String buttonLabel

<div class="expanded-group loan-events">

    <div class="loan-events-container">
        @for (se.tink.backend.common.workers.activity.renderers.models.FeedLoanData loanEvent : loanEvents) {
        <div class="expanded-loan-event">
            <div>
                <div class="left-header-group">
                    <div class="header">@loanEvent.getLeftHeader()</div>
                    <div class="subtext category">@loanEvent.getLeftSubtext()</div>
                </div>

                <div class="right-header-group">
                    <div class="header">@loanEvent.getRightHeader()</div>
                    <div class="subtext">@loanEvent.getRightSubtext()</div>
                </div>

                <div style="clear: both;"></div>
            </div>

        </div>
        }
    </div>


    @if (buttonLabel != null) {
    <div class="bottom-button expanded-button" onclick="switchMortgage ()">@buttonLabel</div>
    }

    <script>
        function switchMortgage(){
        @if(deeplink != "")
            {
                window.location.href = "@deeplink" ;
            }
        }
    </script>
</div>


