@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, se.tink.backend.core.LookbackActivityContent content, String deeplink
<div class="activity-frame clear @activity.getFeedActivityIdentifier()" id="@activity.getId()" onclick="onclick@activity.getId() ()">
	<div class="lookback" id="inner-viewport">
		<span class="header">@content.getLookbackTime()</span>
		<div class="activity-description-text">@content.getQuestion()</div>

		<div class="divider-wrapper"><div class="divider"></div></div>
		<div class="bottom-button">@content.getButtonLabel()</div>
	</div>
</div>

<script>
function onclick@activity.getId() () {
    @if(deeplink)
    {
    	window.location.href = "@deeplink";
	}
}
</script>