
@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, se.tink.backend.core.MerchantHeatMapActivityData content, String deeplink

<div class="timeline"></div>
<div class="activity-frame clear @activity.getFeedActivityIdentifier()" id="@activity.getId()" onclick="onclick@activity.getId() ()">
  
  <div class="merchant-map">

    <div class="centered-activity-title">@content.getTitle()</div>

    <div class="divider-wrapper">
      <div class="divider"></div>
    </div>


    <div class="absolute" style="width:100%;">
      <div class="map-wrapper" style="position: absolute; height: 200px; width: 100%;">
        <div class="map-container">
          <div id="map"></div>
        </div>
      </div>

      <div class="map-touch-saver"></div>

      <div class="circle-wrapper">
        <div class="circle">
          <div class="icon-circle">@content.getCategoryIcon()</div>
        </div>
      </div>
    </div>

    <div class="bottom-part">
        <div class="activity-description-text">@content.getDescription()</div>
    </div>

    <script>
      L.mapbox.accessToken = "pk.eyJ1IjoiYW5sdW5kIiwiYSI6IjctY25yWGsifQ.pI9Cw22sPt9OvRmKEpybRg";

      var addressPoints = [@content.getMapArrayData()];

      var cfg = {
        "radius": 40,
        "gradient": true, 
        "color": "#009DDE",
      };

      $(document).ready(function() {
        var heatmap = new L.DivHeatmapLayer(cfg);
                  
        heatmap.setData(addressPoints);

        var map = L.mapbox.map("map", "anlund.403b23cc", 
            {
                zoomControl: false,
                attributionControl: false,
                layers: [heatmap]
            }
            ).setView([@content.getMapFocusCoordinates()], 12);
      });
    </script>
  </div>
</div>

<script>
function onclick@activity.getId() () {
    @if(deeplink)
    {
      window.location.href = "@deeplink" ;
  }
}
</script>