@args se.tink.backend.core.Activity activity, String title, String description, se.tink.backend.common.workers.activity.renderers.models.RateThisAppContent content, String ignoreButtonLabel, String rateButtonLabel

<div id="@activity.getId()">
	<div class="timeline"></div>
	<div class="activity-frame rate-this-app clear @activity.getFeedActivityIdentifier()">
		<div class="text-area">
			<div class="title">
				@title
			</div>

			<div class="activity-description-text">@description</div>
		</div>

		<div class="action-left-button" onclick="onclick@content.getIgnoreDeepLinkMethodName() ()"><div class="inner">@ignoreButtonLabel</div></div><div class="action-right-button" onclick="onclick@content.getRateDeepLinkMethodName() ()"><div class="inner">@rateButtonLabel</div></div>
	</div>

	<script>
		function onclick@content.getIgnoreDeepLinkMethodName() () {
				$("#@activity.getId()").hide();
				window.location.href = "@content.getDeepLinkIgnore()";
		}
	</script>

	<script>
		function onclick@content.getRateDeepLinkMethodName() () {
				window.location.href = "@content.getDeepLinkRateInStore()";
				$("#@activity.getId()").hide();
		}
	</script>

</div>
