@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, String title, String svg, String description, String buttonLabel, String deeplink, String unhandledDetailsCircle

<div class="timeline"></div>
<div class="activity-frame clear @activity.getFeedActivityIdentifier()" id="@activity.getId()" onclick="onclick@activity.getId() ()">
  <div class="suggest-provider">
    <div class="centered-activity-title">
      @escape("RAW") { @title }
    </div>
    <div class="divider-wrapper">
      <div class="divider"></div>
    </div>

    <div class="svg-wrapper"> 
        @escape("RAW") { @svg }
    </div>

    <div class="activity-description-text">@escape("RAW") { @description }</div>
  
    <div class="divider-wrapper">
      <div class="divider"></div>
    </div>
    <div class="bottom-button">@buttonLabel</div>
  </div>
</div>

<script>
function onclick@activity.getId() () {
    @if(deeplink)
    {
      window.location.href = "@deeplink" ;
  }
}
</script>