@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, se.tink.backend.common.workers.activity.renderers.models.ActivityHeader headerData, List<se.tink.backend.common.workers.activity.renderers.models.ActivityHeader> transactions

<div class="expanded-group transactions">
	<div class="divider-wrapper">
		<div class="divider"></div>
	</div>

	<div class="transactions-container">
	@for (se.tink.backend.common.workers.activity.renderers.models.FeedTransactionData transaction : transactions) 
	{
		<div class="expanded-transaction @transaction.getTransaction().getId()" onclick="onclick@transaction.getTransaction().getId() ()"> 
		 	<div class="icon-circle-wrapper">
				<div class="icon-circle @transaction.getIcon().getColorType()">
		        &#@transaction.getIcon().getHtmlChar()</div>
			</div> 
			<div class="left-header-group">
				<div class="left-header-margin"></div>
				<div class="header">@transaction.getLeftHeader()</div>
				<div class="subtext category">@transaction.getLeftSubtext()</div>
			</div>
			<div class="right-header-group">
				<div class="header">@transaction.getRightHeader()</div>
				<div class="subtext">@transaction.getRightSubtext()</div>
			</div>
			<div style="clear: both;"></div>
		</div>

		<script>

		function onclick@transaction.getTransaction().getId() () {
		    @if(transaction.getDeepLink() != null)
		    {
		    	window.location.href = "@transaction.getDeepLink()" ;
			}
		}
		</script>
	}
	</div>
</div>