{{- $agentsConfig := .Values.agents | default dict }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: agents-config
  namespace: aggregation
data:
  config.yml: |
    agentsServiceConfiguration:
      excludedDebugClusters:
        excludedClusters:
          - local-development

      {{- if $agentsConfig.mountSignatureKeyPair }}
      signatureKeyPair:
        privateKeyPath: "/etc/tink-signature-key/private_rsa_key.pem"
        publicKeyPath: "/etc/tink-signature-key/public_rsa_key.pem"
      {{- end }}

      {{- if $agentsConfig.mountCallbackJwtSignaturePair }}
      callbackJwtSignatureKeyPair:
        privateKeyPath: "/etc/tink-callback-jwt-signature-pair/private_ec_key.pem"
        publicKeyPath: "/etc/tink-callback-jwt-signature-pair/public_ec_key.pem"
        isEnabled: {{ $agentsConfig.callbackJwtSignatureKeyPairEnabled | default false }}
      {{- end }}

      creditsafe:
        username: CREDITSAFE_USERNAME
        password: CREDITSAFE_PASSWORD
        logConsumerMonitoringTraffic: true

      {{- if $agentsConfig.collectorSubscriptionKey }}
      aggregationWorker:
        collectorSubscriptionKey: COLLECTOR_SUBSCRIPTION_KEY
      {{- end }}

      integrations:
        sbab:
          signBaseUrl: https://secure.sbab.se
        ukOpenBankingJson: |
          UKOPENBANKINGJSON

        {{- if $agentsConfig.proxyUri }}
        proxyUri: "{{ $agentsConfig.proxyUri }}"
        {{- end }}

        {{- if $agentsConfig.proxyUris }}
        proxyUris:
        {{- range $uri := $agentsConfig.proxyUris }}
          - "{{ $uri }}"
        {{- end }}
        {{- end }}

        {{- if $agentsConfig.monzo }}
        monzo:
          tink:
            clientId: "MONZO_CLIENT_ID"
            clientSecret: "MONZO_CLIENT_SECRET"
            redirectUrl: "{{ $agentsConfig.monzo.redirectUrl }}"
        {{- end }}

        {{- if $agentsConfig.starling }}
        starling:
          tink:
            aisConfiguration:
              clientId: "STARLING_AIS_CLIENT_ID"
              clientSecret: "STARLING_AIS_CLIENT_SECRET"
              redirectUrl: "{{ $agentsConfig.starling.redirectUrl }}"
            pisConfiguration:
              clientId: "STARLING_PIS_CLIENT_ID"
              clientSecret: "STARLING_PIS_CLIENT_SECRET"
              redirectUrl: "{{ $agentsConfig.starling.redirectUrl }}"
            keyUid: "STARLING_SIGNING_KEY_UID"
            signingKey: "STARLING_SIGNING_KEY"
        {{- end }}
        {{- if eq true $agentsConfig.volksbank.enabled }}
        volksbank:
          tink:
            aisConfiguration:
              clientId: "VOLKSBANK_AIS_CLIENT_ID_TAG"
              clientSecret: "VOLKSBANK_AIS_CLIENT_SECRET_TAG"
              clientCertificatePath: "VOLKSBANK_AIS_CERT_TAG"
              clientCertificatePass: "VOLKSBANK_AIS_CERT_PASSWORD_TAG"
        {{- end }}
        {{- if $agentsConfig.fints }}
        fints:
          regNumber: "FINTS_REG_NUMBER"
        {{- end }}

        abnamro:
          tink:
            clientId: "dummyId"
            clientSecret: "dummySecret"
            redirectUrl: "https://api.tink.se/api/v1/credentials/third-party/callback"
            clientSSLP12: "dummyP12"
            clientSSLKeyPassword: "dummyPassword"

        {{- if $agentsConfig.icsConfiguration }}
        icsConfiguration:
          abn:
            clientId: "ICS_CLIENT_ID"
            clientSecret: "ICS_CLIENT_SECRET"
            clientSSLCertificate: "ICS_CLIENT_SSL_CERT"
            rootCACertificate: "ICS_CA_CERT"
            rootCAPassword: "ICS_ROOT_CA_PASSWORD"
        {{- end }}

        {{- if $agentsConfig.demoFakeBank }}
        demoFakeBank:
          baseUrl: "{{ $agentsConfig.demoFakeBank.baseUrl }}"
        {{- end }}

      abnAmro:

      {{- if $agentsConfig.abnAmro }}
      {{- range $name, $env := dict "abnAmroProduction" "production" "abnAmroStaging" "staging" }}
      {{- $envConfig := index $agentsConfig.abnAmro $env }}
      {{ $name }}:

        {{- if kindIs "bool" $envConfig.ignoreCreditCardErrors }}
        ignoreCreditCardErrors: {{ $envConfig.ignoreCreditCardErrors}}
        {{- else }}
        ignoreCreditCardErrors: true
        {{- end }}

        {{- if kindIs "bool" $envConfig.cleanBankId }}
        cleanBankId: {{ $envConfig.cleanBankId}}
        {{- else }}
        cleanBankId: false
        {{- end }}

        trustStore:
          path: data/security/abnamro.truststore
          password: changeme

        internetBanking:
          host: ABN_{{ $env | upper }}_BANKING_HOST
          authorizationToken: ABN_{{ $env | upper }}_BANKING_AUTH_TOKEN

          products:
            creditCards:
            groups:
            - CREDIT_CARDS_PRIVATE_AND_RETAIL
            - PAYMENT_SERVICES
            ids:
            - 129
          payments:
            groups:
            - PAYMENT_ACCOUNTS
            ids:
            - 13
            - 25
          savings:
            groups:
            - SAVINGS_ACCOUNTS
            ids:
            - 5
            - 8
        enrollment:
          url: ABN_{{ $env | upper }}_ENROLLMENT_URL
          apiKey: ABN_{{ $env | upper }}_ENROLLMENT_API_KEY
      {{- end }}
      {{- end }}
