{{- $clusterName := printf "%s-%s" .Values.Cluster .Values.Environment }}
{{- $agentsConfig := .Values.agents | default dict }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregation
  namespace: aggregation
  labels:
    app: aggregation-service
spec:
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: aggregation-service
  template:
    metadata:
      labels:
        app: aggregation-service
      annotations:
        iam.amazonaws.com/role: "{{ $clusterName }}/aggregation-{{ $clusterName }}"
        # Force rollout of new pods if the config has changed
        checksum/aggregation-config: {{ include (print $.Template.BasePath "/aggregation-config.yaml") . | sha256sum }}
        checksum/agents-config: {{ include (print $.Template.BasePath "/agents-config.yaml") . | sha256sum }}
        prometheus.io/scrape: 'true'
    spec:
      tolerations:
      - key: node-role.kubernetes.io/spot-worker
        effect: NoSchedule
        operator: Exists
      {{- if not (eq "local" .Values.Cluster) }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: "kubernetes.io/hostname"
              labelSelector:
                matchLabels:
                  app: aggregation-service
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: node-role.kubernetes.io/spot-worker
                operator: Exists
          {{- if .Values.nodeZones }}
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: "failure-domain.beta.kubernetes.io/zone"
                operator: In
                values:
                {{- range $zone := .Values.nodeZones }}
                - "{{ $zone }}"
                {{- end }}
          {{- end }}
        {{- end }}

      securityContext:
        runAsNonRoot: true
        runAsUser: 65535
        runAsGroup: 65535
        fsGroup: 65535

      initContainers:
      # Script to replace placeholder passwords with the real passwords
      - name: add-secrets-to-config
        command:
          - "/mnt/scripts/add-secrets.sh"
        # Run `docker pull gcr.io/tink-containers/debian:stretch`
        {{- if eq "local" .Values.Cluster }}
        image: gcr.io/tink-containers/debian:stretch
        imagePullPolicy: Never
        {{ else }}
        image: gcr.io/tink-containers/debian:stretch
        imagePullPolicy: IfNotPresent
        {{ end }}
        securityContext:
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: config-scripts
          mountPath: /mnt/scripts
        - name: aggregation-config
          mountPath: /mnt/aggregation-config
        - name: agents-config
          mountPath: /mnt/agents-config
        - name: altered-config-volume
          mountPath: /mnt/altered-config-volume
        env:
        - name: COLLECTOR_SUBSCRIPTION_KEY
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: collector-subscription-key
              optional: true
        - name: KEYSTORE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: keystore-password
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: aggregationdb-password
        - name: UKOPENBANKINGJSON
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: uk-open-banking-json
        - name: CREDITSAFE_USERNAME
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: creditsafe-username
        - name: CREDITSAFE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: creditsafe-password
        - name: MONZO_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: monzo-client-id
              optional: true
        - name: MONZO_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: monzo-client-secret
              optional: true
        - name: STARLING_AIS_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: starling-ais-client-id
              optional: true
        - name: STARLING_AIS_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: starling-ais-client-secret
              optional: true
        - name: STARLING_PIS_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: starling-pis-client-id
              optional: true
        - name: STARLING_PIS_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: starling-pis-client-secret
              optional: true
        - name: STARLING_SIGNING_KEY_UID
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: starling-signing-key-uid
              optional: true
        - name: STARLING_SIGNING_KEY
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: starling-signing-key
              optional: true
        - name: FINTS_REG_NUMBER
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: fints-reg-number
              optional: true
        - name: ABN_STAGING_BANKING_HOST
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: abn-staging-banking-host
              optional: true
        - name: ABN_STAGING_BANKING_AUTH_TOKEN
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: abn-staging-banking-auth-token
              optional: true
        - name: ABN_STAGING_ENROLLMENT_URL
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: abn-staging-enrollment-url
              optional: true
        - name: ABN_STAGING_ENROLLMENT_API_KEY
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: abn-staging-enrollment-api-key
              optional: true
        - name: ABN_PRODUCTION_BANKING_HOST
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: abn-prod-banking-host
              optional: true
        - name: ABN_PRODUCTION_BANKING_AUTH_TOKEN
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: abn-prod-banking-auth-token
              optional: true
        - name: ABN_PRODUCTION_ENROLLMENT_URL
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: abn-prod-enrollment-url
              optional: true
        - name: ABN_PRODUCTION_ENROLLMENT_API_KEY
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: abn-prod-enrollment-api-key
              optional: true
        - name: ICS_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: ics-abn-client-id
              optional: true
        - name: ICS_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: ics-abn-client-secret
              optional: true
        - name: ICS_CLIENT_SSL_CERT
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: ics-abn-ssl-cert
              optional: true
        - name: ICS_CA_CERT
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: ics-abn-ca-cert
              optional: true
        - name: ICS_ROOT_CA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: ics-root-ca-password
              optional: true
        {{- if $agentsConfig.volksbank }}
        - name: VOLKSBANK_AIS_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: volksbank-ais-client-id
              optional: true
        - name: VOLKSBANK_AIS_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: volksbank-ais-client-secret
              optional: true
        - name: VOLKSBANK_AIS_CERT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: volksbank-ais-cert-password
              optional: true
        - name: VOLKSBANK_AIS_CERT
          valueFrom:
            secretKeyRef:
              name: aggregation-secrets
              key: volksbank-ais-cert
              optional: true
        {{- end }}
      containers:
      - name: tink-backend-aggregation
        {{- if not (eq "local" .Values.Cluster) }}
        resources:
          requests:
            memory: {{ default "700Mi" .Values.podMemoryRequest }}
            cpu: {{ default "500m" .Values.podCpuRequest }}
          limits:
            memory: {{ default "1Gi" .Values.podMemoryLimit }}
            cpu: {{ default "1000m" .Values.podCpuLimit }}
        {{- end }}
        {{- if eq "local" .Values.Cluster }}
        image: {{ default "bazel/src/aggregation/service:aggregation-image" .Values.image }}
        imagePullPolicy: {{ default "IfNotPresent" .Values.imagePullPolicy }}
        {{ else }}
        image: gcr.io/tink-containers/tink-backend-aggregation:{{ .Files.Get "tink-versions/tink-backend-aggregation.txt" | default "latest" }}
        imagePullPolicy: IfNotPresent
        {{ end }}
        securityContext:
          readOnlyRootFilesystem: true

        command:
        - "java"
        - "-jar"
        - "-Xmx{{ default "256m" .Values.heapSize }}"
        - "-XX:-OmitStackTraceInFastThrow"
        - "-Dnetworkaddress.cache.ttl=60"
        - "-XX:+ExitOnOutOfMemoryError"
        - "/usr/share/tink-backend-aggregation/aggregation_service.jar"
        - "server"
        - "/etc/tink/config.yml"

        ports:
        - name: https-api
          containerPort: 8443
        - name: http-api
          containerPort: 8080
        - name: metrics
          containerPort: 9130

        livenessProbe:
          httpGet:
            path: /aggregation/ping
            port: 8443
            scheme: HTTPS
          periodSeconds: 10
          failureThreshold: 10
          timeoutSeconds: 1
          initialDelaySeconds: 300
        # The pod will only receive traffic if the readinessProbe is succeeding,
        # it's also used when rolling out a new version, to know if the new version
        # is working or not
        readinessProbe:
          httpGet:
            path: /aggregation/ping
            port: 8443
            scheme: HTTPS
          periodSeconds: 3
          failureThreshold: 3
          timeoutSeconds: 1
          initialDelaySeconds: {{ default 60 .Values.initialDelaySeconds }}

        volumeMounts:
        - name: tmp
          mountPath: /tmp
        - name: altered-config-volume
          mountPath: /etc/tink
        - name: bnppf-cert
          mountPath: /etc/tink/bnppf-cert.p12
          subPath: bnppf-cert.p12
        {{- if $agentsConfig.mountSignatureKeyPair }}
        - name: signature-request-key
          mountPath: /etc/tink-signature-key
        {{- end }}
        {{- if $agentsConfig.mountCallbackJwtSignaturePair }}
        - name: callback-jwt-signature-pair
          mountPath: /etc/tink-callback-jwt-signature-pair
        {{- end }}

      volumes:
      - name: config-scripts
        configMap:
          name: config-scripts
          defaultMode: 0111
      - name: aggregation-config
        configMap:
          name: aggregation-config
      - name: agents-config
        configMap:
          name: agents-config
      - name: bnppf-cert
        secret:
          secretName: bnppf-cert
          optional: true
      {{- if $agentsConfig.mountSignatureKeyPair }}
      - name: signature-request-key
        secret:
          secretName: signature-request-key
      {{- end }}
      {{- if $agentsConfig.mountCallbackJwtSignaturePair }}
      - name: callback-jwt-signature-pair
        secret:
          secretName: callback-jwt-signature-pair
      {{- end }}
      - name: altered-config-volume
        emptyDir: {}
      - name: tmp
        emptyDir: {}

{{- if eq "local" .Values.Cluster }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: aggregation
{{ end }}
