@// declare the arguments used in this template
@args String insightMessage, String deeplinkOption1, String deeplinkOption2, String optionId1, String optionId2

<div style="width: 280px;
            border: 25px solid lightslategrey;
            padding: 25px;
            margin: 25px;">
    @insightMessage

    <div style="width:250px; text-align: center;
      display: inline-block;
      top: 90%;
      padding: 5px;
      margin: 5px">

        <button type="submit" name = "yes" value="@optionId1" style="width: 40%">Yes</button>
        <button type="submit" name = "no" value="@optionId2" style="width: 40%">No</button>
    </div>
</div>

<script>
    function onclick@optionId1 () {
    @if(deeplinkOption1)
        {
            window.location.href = "@deeplinkOption1" ;
        }
    }

    function onclick@optionId2 () {
    @if(deeplinkOption2)
        {
            window.location.href = "@deeplinkOption2" ;
        }
    }
</script>