@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, String imageUrl, String deeplink, String title, String message

<div class="timeline"></div>
<div class="activity-frame application-resume-frame clear @activity.getFeedActivityIdentifier() v2" id="@activity.getId()"
     onclick="onclick@activity.getId() ()">
    <div class="application-resume-activity">
        <div class="wrapper">
            <div style="height: 200px; background: url(@imageUrl); background-repeat: no-repeat; background-size: cover; background-position: center;"
                 class="image">
                 <div class="message">@message</div>
            </div>
        </div>

        <div>
            <div class="title">@title</div>
        </div>

    </div>
</div>

<script>
    function onclick@activity.getId() () {
    @if(deeplink != null && deeplink.length() > 0)
        {
            window.location.href = "@deeplink";
        }
    }
</script>
