@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, se.tink.backend.common.workers.activity.renderers.models.BiggestPurchaseData biggestPurchaseData, se.tink.backend.common.workers.activity.renderers.models.TotalExpensesData totalExpensesData, String period, List<String> additionalSections, String deeplink, String subtitle

<div class="timeline"></div>
<div class="activity-frame clear period-summary @activity.getFeedActivityIdentifier() v2" id="@activity.getId()" onclick="onclick@activity.getId() ()">
	<div class="period-activity">
		<div class="centered-activity-title">
			@period
		</div>
		@if(subtitle != null && !subtitle.isEmpty())
		{
			<div class="centered-activity-title small">
				@subtitle
			</div>
		}
		<div class="divider-wrapper">
			<div class="divider"></div>
		</div>

		<div class="top-summaries">
			<div style="padding-bottom: 20px;" class="top-summaries-part total-expenses period-summary-part" onclick="onclick@totalExpensesData.getDeeplinkMethodName() ()">
				<p class="top-summaries-title">
					@totalExpensesData.getTitle()
				</p>
				<p class="top-summaries-amount">
					@totalExpensesData.getTotal()
				</p>
				<p class="top-summaries-bottom" style="color: @totalExpensesData.getAverageColor();">
					@totalExpensesData.getAverage()
				</p>
			</div>
			<div class="horizontal-divider" style="height: 84px">
			</div>
			<div style="padding-bottom: 20px" class="top-summaries-part biggest-purchase period-summary-part"
			@if(biggestPurchaseData.getDeeplink() != null && !biggestPurchaseData.getDeeplink().isEmpty())
			{
				onclick="onclick@biggestPurchaseData.getDeeplinkMethodName() ()"
			}
			>
				<p class="top-summaries-title">
					@biggestPurchaseData.getTitle()
				</p>
				<p class="top-summaries-amount">
					@biggestPurchaseData.getAmount()
				</p>
				<p class="top-summaries-bottom">
					@biggestPurchaseData.getDescription()
				</p>
			</div>

			<div style="clear: both;"></div>
		</div>

		<div class="divider-wrapper">
			<div class="divider second"></div>
		</div>

		<div class="additional-sections">
			@for (se.tink.backend.common.workers.activity.renderers.models.HtmlSvgSection additionalSection : additionalSections) 
			{
				@if (additionalSection.getDeeplink() != null) {
					<div class="period-summary-part" onclick="onclick@additionalSection.getDeeplinkMethodName() ()">
						@escape("RAW") {@additionalSection.getSvg()}
					</div>
					<script>
						function onclick@additionalSection.getDeeplinkMethodName() () {
							@if(totalExpensesData.getDeeplink() != null)
							{
								window.location.href = "@additionalSection.getDeeplink()" ;
							}
						}
					</script>
				} else {
					<div class="period-summary-part-no-deeplink">
						@escape("RAW") {@additionalSection.getSvg()}
					</div>
				}
			}
		</div>
	</div>
</div>

<script>
function onclick@totalExpensesData.getDeeplinkMethodName() () {
    @if(totalExpensesData.getDeeplink() != null)
    {
    	window.location.href = "@totalExpensesData.getDeeplink()" ;
	}
}
@if(biggestPurchaseData.getDeeplink() != null && !biggestPurchaseData.getDeeplink().isEmpty())
{
	function onclick@biggestPurchaseData.getDeeplinkMethodName() () {
	    @if(biggestPurchaseData.getDeeplink() != null)
	    {
	    	window.location.href = "@biggestPurchaseData.getDeeplink()" ;
		}
	}
}
</script>