@// declare the arguments used in this template
@args se.tink.backend.core.Activity activity, se.tink.backend.common.workers.activity.renderers.models.Icon icon, String title, String message, String buttonLabelYes, String deeplinkYes, String buttonLabelNo, String deeplinkNo

<div class="timeline"></div>
<div class="activity-frame reimbursement clear @activity.getFeedActivityIdentifier() v2" id="@activity.getId()">
  <div class="icon-circle-wrapper">
    <div class="icon-circle @icon.getColorType()">
      &#@icon.getHtmlChar()
    </div>
  </div> 

  <div>
    <div class="centered-activity-title">
      @escape("RAW") { @title }
    </div>
    <div class="divider-wrapper">
      <div class="divider"></div>
    </div>

    <div class="activity-description-text">@escape("RAW") { @message }</div>

    <div class="button" onclick="onclickNo@activity.getId() ()">@buttonLabelNo</div>
    <div class="button" onclick="onclickYes@activity.getId() ()">@buttonLabelYes</div>
  </div>

</div>

<script>
  function onclickYes@activity.getId() () {
  @if(deeplinkYes != null && deeplinkYes.length() > 0)
    {
     window.location.href = "@deeplinkYes";
    }
  }

  function onclickNo@activity.getId() () {
  @if(deeplinkNo != null && deeplinkNo.length() > 0)
    {
      window.location.href = "@deeplinkNo";
    }
  }
</script>
