-i https://pypi.org/simple/
asn1crypto==0.24.0
cacheout==0.11.2
cffi==1.13.2
click==6.7
cryptography==3.2
enum34==1.1.6
flask==1.0.2
future==0.17.1
idna==2.7
ipaddress==1.0.22
itsdangerous==0.24
jinja2==2.10.1
markupsafe==1.1.1
pycparser==2.19
pyopenssl==18.0.0
qrcode==6.1
six==1.11.0
werkzeug==0.14.1
