<style>
	@font-face { font-family: 'proxima'; src: url('fonts/ProximaNovaA-Regular.ttf') format('truetype'); }
	@font-face { font-family: 'proxima-light'; src: url('fonts/ProximaNovaA-Light.ttf') format('truetype'); }
	@font-face { font-family: 'proxima-semibold'; src: url('fonts/ProximaNovaA-Semibold.ttf') format('truetype'); }
	@font-face { font-family: 'akzidenzgrotesk-lightcond'; src: url('fonts/AkzidenzGrotesk-LightCond.ttf') format('truetype'); }
	@font-face { font-family: 'tink-symbols'; src: url('fonts/TinkSymbols-Regular.ttf') format('truetype'); }
	* { -webkit-user-select: none; }
	body { padding: 0; margin: 0; color: #262626; font-family: ProximaNovaA-Regular, proxima, sans-serif; font-size: 13px; text-align: left; font-weight: 300; }
	div { padding: 0; margin: 0; } 
	.bold { font-family: ProximaNovaA-Semibold, proxima-semibold; }
	.icon-circle {
	    height:50px;
	    width:50px;
	    line-height: 50px;
	    background-color: #009DDE;
	    font-size: 40px;
	    float: left;    
	    color: #FFFFFF;
	    border-radius: 100%;
	    text-align: center;
	    font-family: Tink Symbols, tink-symbols;
	}
	.circle { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
	.clearfix:after { content:""; display:table; clear:both; }
</style>