<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h4>Welcome to the Agent Capability Tracker!</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-display-agents [agent]="agent" (agentChange)="updateAndValidateAgent($event)"></app-display-agents>
    </div>
  </div>
  <div class="row align-items-center" *ngIf="validAgentSelected">
    <div class="col-auto col-5">
      <app-display-fields [agent]="agent" [field]="field" (fieldChange)="updateAndValidateField($event)">
      </app-display-fields>
    </div>
    <div class="col-auto col-2 text-center">
      OR
    </div>
    <div class="col-auto col-5 text-right">
      <button type="button" class="btn btn-outline-primary" (click)="displayAllFields()">View all fields for: {{agent}}</button>
    </div>
  </div>
  <table class="table table-striped table-hover" *ngIf="validAgentSelected && validFieldSelected">
    <thead>
      <tr>
        <th scope="col">Agent</th>
        <th scope="col">Field</th>
        <th scope="col">Null Count (%)</th>
        <th scope="col">Total Count</th>
        <th scope="col">Last Seen</th>
        <th scope="col">Values</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agentFieldStats of agentFieldsStatsToDisplay">
        <th scope="row">{{agentFieldStats.agent}}</th>
        <td>{{agentFieldStats.field}}</td>
        <td>{{agentFieldStats.nullCount}} ({{ agentFieldStats.nullCount * 100 / agentFieldStats.totalCount | number:'1.0-2' }}%)</td>
        <td>{{agentFieldStats.totalCount}}</td>
        <td>{{agentFieldStats.lastSeen | date }}</td>
        <td><app-display-field-values [agent]="agentFieldStats.agent" [field]="agentFieldStats.field"></app-display-field-values></td>
      </tr>
    </tbody>
  </table>
</div>