<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Field Values registered for Agent's ({{agent}}) Field ({{field}})</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group list-group-hover list-group-striped">
      <li *ngFor="let fieldValue of fieldValues" class="list-group-item">{{fieldValue.value}}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<button type="button" class="btn btn-outline-primary" (click)="openVerticallyCentered(content)">Show Field
  Values</button>