<div id="inner-viewport" style="width: 500px; height: 500px;">
	<div style="width: 500px; height: 175px;" class="clearfix">
		<div style="width: 500px; height:175px; background: url(https://s3-eu-west-1.amazonaws.com/tink-web/activities/badges/{0}); no-repeat;">

			<div style="float:left; width: 180px; text-align: center; margin: 25px 0 25px 148px; background: #4d4d4d; color: #f7f4f2; padding: 7px 12px 8px 12px; font-size: 20px; text-transform: uppercase; letter-spacing: 3px; border-radius: 37px; font-family: ProximaNovaA-Semibold, proxima-semibold;">{1}</div>

			<div style="float:left; background: url(https://s3-eu-west-1.amazonaws.com/tink-web/activities/lookback/marker.svg) no-repeat; width: 67px; height: 114px; margin: 10px 216px 0 216px;">
				<div style="width: 67px; font-family: tink symbols, tink-symbols; color: #fff; font-size: 40px; text-align: center; padding-top: 58px;">{2}</div>
			</div>
		</div>
	</div>

	<div style="width: 400px; padding: 35px 50px 25px 50px;">
		<div style="width: 400px; font-size: 30px; text-align: center; margin: 30px 0 0 0; font-family: ProximaNovaA-Semibold, proxima-semibold;">{3}</div>
		<div style="width: 400px; font-size: 30px; text-align: center; margin: 10px 0 20px 0; color: #999999;">{4}</div>
    	<div style="width: 300px; background: #CCCCCC; height: 1px; margin: 0 auto;" class="skip-height skip-margin"></div>
		<div style="width: 400px; font-size: 24px; text-align: center; margin-top:10px;">{5}</div>
	</div>

	<img style="width: 100px; position: absolute; top: 440px; left: 400px;" src="https://s3-eu-west-1.amazonaws.com/tink-web/activities/assets/logo_normal.svg" />
</div>