[Unit]
Description=tink-backend-aggregation-controller

[Service]
User=tink-backend-aggregation-control
Group=tink-backend-aggregation-control
KillSignal=SIGINT
TimeoutStopSec=20
Restart=on-failure
RestartSec=10
Environment=MAX_HEAP_SIZE=512M
EnvironmentFile=-/etc/default/tink-backend-aggregation-controller
WorkingDirectory=/usr/share/tink-backend-aggregation-controller

ExecStart=/usr/bin/java \
          -Xmx${MAX_HEAP_SIZE} \
          -Xloggc:/var/log/tink/aggregation-controller/gc.log \
          -XX:+UseGCLogFileRotation \
          -XX:NumberOfGCLogFiles=5 \
          -XX:GCLogFileSize=512K \
          -Dnetworkaddress.cache.ttl=60 \
          -XX:-OmitStackTraceInFastThrow \
          -XX:+HeapDumpOnOutOfMemoryError \
          -XX:HeapDumpPath=/var/tmp/tink/heapdumps/tink-backend-aggregation-controller \
          -XX:+ExitOnOutOfMemoryError \
          -jar /usr/share/tink-backend-aggregation-controller/aggregation-controller-service.jar \
          server /etc/tink/aggregation-controller-server.yml

[Install]
WantedBy=multi-user.target
