[Unit]
Description=tink-backend-system

[Service]
User=tink-backend-system
Group=tink-backend-system
KillSignal=SIGINT
TimeoutStopSec=40
Restart=on-failure
RestartSec=10
Environment=MAX_HEAP_SIZE=2560m
EnvironmentFile=-/etc/default/tink-backend-system
WorkingDirectory=/usr/share/tink-backend-system

ExecStart=/usr/bin/java \
          -Xmx${MAX_HEAP_SIZE} \
          -XX:-OmitStackTraceInFastThrow \
          -Xloggc:/var/log/tink/system/gc.log \
          -XX:+UseGCLogFileRotation \
          -XX:NumberOfGCLogFiles=5 \
          -XX:GCLogFileSize=25M \
          -XX:+PrintGCDetails \
          -XX:+PrintGCDateStamps \
          -Dnetworkaddress.cache.ttl=60 \
          -XX:+HeapDumpOnOutOfMemoryError \
          -XX:HeapDumpPath=/var/tmp/tink/heapdumps/tink-backend-system \
          -XX:+ExitOnOutOfMemoryError \
          -Dpdfbox.fontcache=/tmp \
          -jar /usr/share/tink-backend-system/system-service.jar \
          server /etc/tink/system-server.yml

[Install]
WantedBy=multi-user.target
