[Unit]
Description=tink-backend-aggregation

[Service]
User=tink-backend-aggregation
Group=tink-backend-aggregation
KillSignal=SIGINT
# See shutdown timeouts in AgentWorker#stop method.
TimeoutStopSec=400
Restart=on-failure
RestartSec=10
Environment=MAX_HEAP_SIZE=4G
EnvironmentFile=-/etc/default/tink-backend-aggregation
WorkingDirectory=/usr/share/tink-backend-aggregation

ExecStart=/usr/bin/xvfb-run --auto-servernum -s "-screen 0 1280x1024x16" \
          /usr/bin/java \
          -Xmx${MAX_HEAP_SIZE} \
          -Xloggc:/var/log/tink/aggregation/gc.log \
          -XX:+UseGCLogFileRotation \
          -XX:NumberOfGCLogFiles=5 \
          -XX:GCLogFileSize=512K \
          -Dnetworkaddress.cache.ttl=60 \
          -XX:-OmitStackTraceInFastThrow \
          -XX:+HeapDumpOnOutOfMemoryError \
          -XX:HeapDumpPath=/var/tmp/tink/heapdumps/tink-backend-aggregation \
          -XX:+ExitOnOutOfMemoryError \
          -jar /usr/share/tink-backend-aggregation/aggregation_service.jar \
          server /etc/tink/aggregation-server.yml

[Install]
WantedBy=multi-user.target
