[Unit]
Description=tink-backend-connector

[Service]
User=tink-backend-connector
Group=tink-backend-connector
KillSignal=SIGINT
# We buffer transactions for max 60 seconds. This timeout must be longer than that.
TimeoutStopSec=80
Restart=on-failure
RestartSec=10
Environment=MAX_HEAP_SIZE=2560m
EnvironmentFile=-/etc/default/tink-backend-connector
WorkingDirectory=/usr/share/tink-backend-connector

ExecStart=/usr/bin/java \
          -Xmx${MAX_HEAP_SIZE} \
          -XX:-OmitStackTraceInFastThrow \
          -Xloggc:/var/log/tink/connector/gc.log \
          -XX:+UseGCLogFileRotation \
          -XX:NumberOfGCLogFiles=5 \
          -XX:GCLogFileSize=512K \
          -XX:+PrintGCDetails \
          -XX:+PrintGCDateStamps \
          -Dnetworkaddress.cache.ttl=60 \
          -XX:+HeapDumpOnOutOfMemoryError \
          -XX:HeapDumpPath=/var/tmp/tink/heapdumps/tink-backend-connector \
          -XX:+ExitOnOutOfMemoryError \
          -jar /usr/share/tink-backend-connector/connector-service.jar \
          server /etc/tink/connector-server.yml

[Install]
WantedBy=multi-user.target
