[Unit]
Description=tink-backend-provider-configuration

[Service]
User=tink-backend-provider-configuration
Group=tink-backend-provider-configuration
KillSignal=SIGINT
# See shutdown timeouts in AgentWorker#stop method.
TimeoutStopSec=400
Restart=on-failure
RestartSec=10
Environment=MAX_HEAP_SIZE=2G
EnvironmentFile=-/etc/default/tink-backend-provider-configuration
WorkingDirectory=/usr/share/tink-backend-provider-configuration

ExecStart=/usr/bin/xvfb-run --auto-servernum -s "-screen 0 1280x1024x16" \
          /usr/bin/java \
          -Xmx${MAX_HEAP_SIZE} \
          -Xloggc:/var/log/tink/aggregation/gc.log \
          -XX:+UseGCLogFileRotation \
          -XX:NumberOfGCLogFiles=5 \
          -XX:GCLogFileSize=512K \
          -Dnetworkaddress.cache.ttl=60 \
          -XX:-OmitStackTraceInFastThrow \
          -XX:+HeapDumpOnOutOfMemoryError \
          -XX:HeapDumpPath=/var/tmp/tink/heapdumps/tink-backend-provider-configuration \
          -XX:+ExitOnOutOfMemoryError \
          -jar /usr/share/tink-backend-provider-configuration/provider_configuration_service.jar \
          server /etc/tink/provider-configuration-server.yml

[Install]
WantedBy=multi-user.target
